# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# User-specific
xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
*.swp
*~.nib

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
